.recommended-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: 10px;
}

.recommended-tipo-vista{
    margin: 20px 0px 0px 20px;
    font-size: 18px;
}

.found-results{
    margin: 20px 0px 0px 20px;
    font-size: 18px;
}